/* index.css - FIXED VERSION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  color: #333;
}

#root {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}